#container {
}

#sidebar li {
	display: inline;
	border-right: 1px solid black;
	margin-right: 1em;
}

#content {
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

