/*--------------------------------------------------------------
 Sidebar
 --------------------------------------------------------------*/
#sidebar {
    text-transform: uppercase;
    text-align: center;
}

#sidebar h1 {
    letter-spacing: -3pt;
    font-family: "arial black";
    font-weight: 700;
    font-size: 36pt;
    line-height: 30pt;
    margin-left: auto;
    margin-right: auto;
}

#sidebar h3 {
    display: none;
}

#sidebar h3 a:link,
#sidebar h3 a:visited {
    color: #000; text-decoration: none;
}

#sidebar ul li {
    display: inline;
    margin: 0px;
}

#sidebar ul.pages li:after { content: ". " }
